@using Microsoft.AspNetCore.Identity
@using WebShop.Core.Data.Models.AccountModels
@inject SignInManager<ApplicationUser> SignInManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
            <p class="m-lg-3">Hello @User.Identity?.Name!</p>
    </li>
    <li class="nav-item">
            <a class="m-lg-3" asp-controller="Account" asp-action="Logout"> Logout</a>
    </li>
}
else
{
    <li class="nav-item">
            <a class="m-lg-3" asp-controller="Account" asp-action="Register">Register</a>
    </li>
    <li class="nav-item">
            <a class="m-lg-3" asp-controller="Account" asp-action="Login">Login</a>
    </li>
}
</ul>
