<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../wwwroot/css/site.css">
    <link rel="stylesheet" href="../../wwwroot/css/reset.css">
    <link rel="stylesheet" href="../../wwwroot/css/custom-style.css">
    <link rel="stylesheet" href="../../wwwroot/css/custom-buttons.css">
    
    <title>Document</title>
</head>
<body>
    <aside id="categories">
        <h3>Categories</h3>
        <nav>
            <ul>
                <li><a href="#">Food</a></li>
                <li><a href="#">For the house</a></li>
                <li><a href="#">Clothes</a></li>
                <li><a href="#">Electronics</a></li>
            </ul>
        </nav>
    </aside>
    <main>
        <article id='cardId-1' class="item-card">
            <div class="img-container">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c8/Oat_milk_glass_and_bottles.jpg/640px-Oat_milk_glass_and_bottles.jpg" alt="">
            </div>
            <div class="card-content">
                <strong>Milk</strong>
                <p>Pilos UHT</p>
                <div class="action-list">
                    <a href="#" class="details-secondary">Details</a>
                </div>
            </div>
        </article>

        <div class="quantity-wrapper">
            <button class="cus-btn btn-add">+</button>
            <input type="number" class="num-input" value="0">
            <button class="cus-btn btn-subtract">-</button>
        </div>
    </main>
    <script src="../../wwwroot/js/site.js"></script>
    <script src="https://kit.fontawesome.com/3e5329ca1f.js" crossorigin="anonymous"></script>
</body>
</html>