@model BrandPolyItem;

<tr>
    <td>@Model.Name</td>
    <td class="action-list">
        <div class="dropdown-wrapper">
            <button class="dropdown-btn fas fa-cogs"></button>
            <div class="dropdown-container">
                <section class="dropdown-header">
                    <span>Options</span>
                    <button class="cus-btn cus-btn-cancel dropdown-close"></button>
                </section>
                <section class="dropdown-content">
                    <a class="cus-btn cus-btn-edit">Edit</a>
                    <a class="cus-btn cus-btn-delete">Delete</a>
                </section>
            </div>
        </div>
    </td>
</tr>