@model WebShop.App.Models.AddProductViewModel;

<form method="post" asp-action="Add">
    <div class="col-6 mb-3">
        <label asp-for="ProductName">Product name</label>
        <input type="text" asp-for="ProductName">
        <span asp-validation-for="ProductName"></span>
    </div>
    <div class="col-6 mb-3">
        <label asp-for="Price">Product price</label>
        <input type="text" asp-for="Price">
        <span asp-validation-for="Price"></span>
    </div>
    <div class="col-6 mb-3">
        <label asp-for="Quantity">Product quantity</label>
        <input type="number" name="quantity" asp-for="Quantity">
        <span asp-validation-for="Quantity"></span>
    </div>
    <div class="col-6 mb-3">
        <label asp-for="ProductDescription">Description</label>
        <input type="text" asp-for="ProductDescription">
        <span asp-validation-for="ProductDescription"></span>
    </div>
    <button type="submit" class="btn btn-success">+ Add</button>
</form>

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
}
