@model ICollection<WebShop.App.Models.ProductShortViewModel>
    <link rel="stylesheet" href="../../wwwroot/css/site.css">
<table>
    <thead>
        <tr class="table-head">
            <th>Name</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            string price = $"{item.Price:f2}$";
            <tr>
                <td>@item.ProductName</td>
                <td>@price</td>
                <td>
                    <form action="All" method="post">
                        <input type="text" asp-for="@item.Id" hidden="true">
                        <button type="submit" class="btn btn-info">View</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>