@import "https://use.fontawesome.com/releases/v5.6.3/css/all.css";

html {
  font-size: 14px;
}

*,
*::after,
*::before{
  border-collapse: collapse;
  
}

td > form{
  align-self: flex-end;
}

table{
  border: 1px solid black;
  width: 100%;
  color: white;
  text-shadow: 0 0 2px black;
  font-size: 1.5em;
  transition: color 300ms;
  max-width: 60vw;
}

tr{
  text-align: center;
  display: flex;
  align-items: center;
  padding: 10px 10%;
}

.table-head{
  background-color: rgba(0, 0, 0, 0.412);
  text-shadow: 0 0 4px black;
}

td, th{
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

td > form{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin: 0;
}

tbody > tr{
  border-top: 1px solid black;
}

tbody > tr:nth-child(odd){
  background-color: rgba(123, 151, 154, 0.865);
}

tbody > tr:nth-child(even){
  background-color: rgba(0, 0, 0, .211);
}

tbody > tr:hover{
  opacity: 0.8;
}

.action-list{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.msg-box{
  background-color: black;
  width: 80vw;
  height: 80vh;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}