<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/x-icon" href="../../../wwwroot/favicon.ico" />
    <title>Sahara Web Shop</title>
    <link rel="stylesheet" href="../../../wwwroot/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../../wwwroot/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="../../../wwwroot/css/reset.css">
    <link rel="stylesheet" href="../../../wwwroot/css/custom-buttons.css">
    <link rel="stylesheet" href="../../../wwwroot/css/custom-style.css">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                <img class="home-logo" src="../../../wwwroot/shop-logo.png"/>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    
                </ul>
                <ul class="navbar-nav profile-nav">
                    <li class="nav-item">
                        <a asp-controller="Account" asp-action="Register">Register</a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Account" asp-action="Login">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div>
    <main role="main">
        <div class="main-content space-between">
            <h2 class="title">Add Category</h2>
            <div class="split-wrapper  flex-direction-col">
            
                <div class="preview-img-container height-300">
                    <img src="" alt="" class="preview-img">
                </div>
                <form method="post" class="create-item-form width-100-percent">
                    <div class="centered-wrapper">
                        <label for="Name">Category name:</label>
                        <input id="Name" type="text" >
                        <span></span>
                    </div>

                    <div class="centered-wrapper">
                        <label for="Image">Image URL:</label>
                        <input class="preview-img-input" type="text" id="Image">
                    </div>
                    <div class="centered-wrapper">
                        <a class="cus-btn cus-btn-cancel">Cancel</a>
                        <button class="cus-btn cus-btn-ok">Create</button>
                    </div>
                </form>
            
            </div>
        </div>
    </main>
</div>

<div class="main-bg-holder">
    <img class="main-bg-img" src="../../../wwwroot/web-shop-bg.jpg"/>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2023 - WebShop.App - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="https://kit.fontawesome.com/3e5329ca1f.js" crossorigin="anonymous"></script>
<script src="../../../wwwroot/js/site.js"></script>
</body>
</html>