<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="../../../wwwroot/favicon.ico">
    <title>Products - Sahara Web Shop</title>
    <link rel="stylesheet" href="../../../wwwroot/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../wwwroot/css/site.css?v=aXAjBSdBsuoHjwnNFAT5KXI_rfPed9AgdvAawARX6T4">
    <link rel="stylesheet" href="../../../wwwroot/css/reset.css">
    <link rel="stylesheet" href="../../../wwwroot/css/custom-buttons.css">
    <link rel="stylesheet" href="../../../wwwroot/css/custom-style.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow">
            <div class="container-fluid">
                <a class="navbar-brand" href="/"><img class="home-logo" src="../../../wwwroot/shop-logo.png"
                        alt="logo"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                    </ul>

                    <ul class="navbar-nav profile-nav">
                        <li class="nav-item">
                            <p class="m-lg-3">Hello Pesho2!</p>
                        </li>
                        <li class="nav-item">
                            <a class="m-lg-3" href="/Account/Logout"> Logout</a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <div b-ffiinh8ehr="">
        <main b-ffiinh8ehr="" role="main">


            <div class="item-collection-container">
                <aside class="sidebar">
                    <nav>
                        <div data-att-folded="true" class="expansion-wrapper">
                            <div class="expansion-window">
                                <button>
                                    <span class="fold-icon"><i class="fas fa-chevron-down"
                                            aria-hidden="true"></i></span><strong>Categories</strong>
                                </button>
                            </div>
                            <div class="expansion-container closed">

                                <ul class="categories content" style="display: none;">

                                    <li><button class="category-btn" data-value="-1">All</button></li>
                                    <li><button class="category-btn" data-value="1">Headsets</button></li>
                                    <li><button class="category-btn" data-value="2">Mouse</button></li>
                                    <li><button class="category-btn" data-value="3">Monitors</button></li>
                                </ul>
                            </div>
                        </div>
                    </nav>

                    <div class="order-by-wrapper">
                        <select class="on-change-select" data-val="true"
                            data-val-required="The OrderBy field is required." id="OrderBy" name="OrderBy">
                            <option value="Name" selected="selected">Alphabetical: (A-z)</option>
                            <option value="PriceAsc">Price: Low ► High</option>
                            <option value="PriceDesc">Price: High ► Low</option>
                        </select>
                    </div>
                </aside>
                <section class="main-content">
                    <div>
                        <div class="centered-wrapper">
                            <form method="get" class="search-bar auto-submit">
                                <input type="text" hidden="" name="categoryId" id="category-id" value="">
                                <input data-result-hook="1" type="text" hidden="" name="page" id="page" data-val="true"
                                    data-val-required="The CurrentPage field is required." value="1">
                                <input type="text" hidden="" name="orderBy" id="orderBy" data-val="true"
                                    data-val-required="The OrderBy field is required." value="Name">
                                <div class="wrapper">
                                    <input placeholder="Search..." type="text" name="searchTerm" id="SearchTerm"
                                        value="">
                                    <button class="clear fas fa-times"></button>
                                </div>
                                <div class="btn-holder">
                                    <button type="submit"><i class="fas fa-search" aria-hidden="true"></i></button>
                                </div>
                            </form>
                        </div>
                        <h3>Search results:</h3>
                        <div class="product-result-list">
                            <div class="wrapper">

                                <article id="75c18824-7d8f-4113-994b-993767f763e5" class="item-card">
                                    <div class="img-container">
                                        <a href="">
                                            <img src="https://s13emagst.akamaized.net/products/47403/47402727/images/res_9205fa54f7297ff61aa491ffe4a6663b.jpg?width=450&amp;height=450&amp;hash=D6194482C07DF4FA36406CF5AA8DE6C7"
                                            alt="">
                                        </a>
                                    </div>
                                    <div class="card-content">
                                        <span class="tag">399.89$</span>
                                        <span class="actual-price">500.00$<hr></span>
                                        <div class="title">
                                            <strong>Monitor Gaming Sony INZONE M9 27", IPS, 4K, 144Hz, 1ms, DisplayHDR™
                                                600, VRR, NVIDIA G-Sync, HDMI 2.</strong>
                                        </div>
                                        <p>Sony</p>
                                        <div class="action-list">
                                            <a href="#" class="details-secondary">Details</a>
                                        </div>
                                    </div>
                                </article>


                                <article id="fbf59243-36e0-42f0-8810-2845e13dad85" class="item-card">
                                    <div class="img-container">
                                        <a href="">
                                            <img src="https://assets2.razerzone.com/images/pnx.assets/3737e1f53df838743d85722a1a1817a0/razer-cobra-line-hero-desktop.jpg"
                                                alt="">
                                        </a>
                                    </div>
                                    <div class="card-content">
                                        <span class="tag">39.40$</span>
                                        <div class="title">
                                            <strong>Razer Cobra</strong>
                                        </div>
                                        <p>Razer</p>
                                        <div class="action-list">
                                            <a href="#" class="details-secondary">Details</a>
                                        </div>
                                    </div>
                                </article>


                                <article id="7c897671-42ec-49cc-b66f-a40a9d088fa8" class="item-card">
                                    <div class="img-container">
                                        <a href="">
                                            <img src="https://s13emagst.akamaized.net/products/34505/34504612/images/res_bbe57c975d006337e84d20631cb8d537.jpg"
                                                alt="">
                                        </a>
                                    </div>
                                    <div class="card-content">
                                        <span class="tag">37.12$</span>
                                        <div class="title">
                                            <strong>Razer Viper</strong>
                                        </div>
                                        <p>Razer</p>
                                        <div class="action-list">
                                            <a href="#" class="details-secondary">Details</a>
                                        </div>
                                    </div>
                                </article>

                            </div>
                        </div>
                        <div class="pages-bar">
                            <ul data-result-hook="1" data-last-page="2" data-current-page="1">
                                <li><button class="page-start paging-btn fas fa-step-backward" data-page="1"></button></li>
                                <li><button class="page-back paging-btn fas fa-caret-left"></button></li>
                                <li><button disabled="" class="paging-btn selected" data-page="1">1</button></li>
                                <li><button class="page-option paging-btn" data-page="2">2</button></li>
                                <li><button class="page-next paging-btn fas fa-caret-right"></button></li>
                                <li><button class="page-end paging-btn fas fa-step-forward" data-page="2"></button></li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
        </main>
    </div>

    <div b-ffiinh8ehr="" class="main-bg-holder">
        <img class="main-bg-img" src="../../../wwwroot/web-shop-bg.jpg">
    </div>

    <footer b-ffiinh8ehr="" class="border-top footer text-muted">
        <div class="container">
            © 2023 - WebShop.App - <a href="/Home/Privacy">Privacy</a>
        </div>
    </footer>
    <script src="../../../wwwroot/lib/jquery/dist/jquery.min.js"></script>
    <script src="../../../wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../../../wwwroot/js/site.js?v=v-hXWLBmw3Kt2A5nFJ0BLirxDqSZQ6hjgSUbpv-ygn0"></script>
    <script src="https://kit.fontawesome.com/3e5329ca1f.js" crossorigin="anonymous"></script>
</body>

</html>