
:root{
    --main-bg-color: rgba(255,255,255,0.8);
    --secondary-bg-color: rgba(60, 55, 55, 0.502);
    
    --primary-color: rgba(159, 118, 14, 0.746);
    --primary-color-hover: rgba(159, 118, 14, 0.546);
    --primary-color-gradient: linear-gradient(
        rgba(159, 118, 14, 0.546),
        rgba(159, 118, 14, 0.746),
        rgba(159, 118, 14, 0.546)
    );

    
    --primary-btn-gradient: linear-gradient(
        0deg,
        rgba(255,255,255,1) 0%,
        rgba(255,255,255,1) 1%,
        rgba(173,173,173,1) 99%,
        rgba(255,255,255,1) 100%
    );
        
    --primary-btn-gradient-hover: linear-gradient(
        0deg, 
        rgba(173,173,173,1) 0%,
        rgba(173,173,173,1) 1%, 
        rgba(255,255,255,1) 99%,
        rgba(173,173,173,1) 100%
    );
            
    --margin-from-header: 20px;
}
        
/*############ DEFAULT STYLE OVERRIDE ###############*/

main{
    overflow-x: hidden;
}

::-webkit-scrollbar{
    width: 10px;
    background-color: #424242
}

::-webkit-scrollbar-track{
    background-color: #424242
}

::-webkit-scrollbar-thumb{
    background-color: #8e8e8e;
    border: 1px solid #424242;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #989898;
}

/*###################################################*/


/*################# CUSTOM COMPONENTS ###############*/

/*Dropdown menu*/

.dropdown-wrapper{
    display: flex;
    position: relative;
}

.dropdown-btn {
    display: flex;
    text-align: center;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    position: relative;
    padding: 5px;
}

.dropdown-btn::before{
    display: flex;
    justify-content: center;
    align-content: center;
}

.dropdown-btn:hover {
    background-color: rgba(255, 255, 255, .9);
}

.dropdown-container {
    display: flex;
    flex-direction: column;
    width: max-content;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    max-height: 0px;
    z-index: 1;
}

.dropdown-container>* {
    width: 100%;
    background-color: #ccc;
}

.dropdown-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px;
    padding: 8px;
}


.dropdown-content > * {
    width: 100%;
    border-radius: 0;
}

.dropdown-btn ~ .dropdown-container:focus-within,
.dropdown-btn:focus ~ .dropdown-container{
    max-height: 300px;
}


/*-------------*/

/*Custom quantity input*/
.num-input{
    border: none;
    width: 40px;
    min-width: 40px;
    max-width: 150px;
    color: black;
    text-align: center;
    font-weight: 600;
}

.quantity-wrapper .num-input::-webkit-outer-spin-button,
.quantity-wrapper .num-input::-webkit-inner-spin-button
{
    display: none;
}

.quantity-wrapper{
    font-size: 1.5em;
    background-color: #8e8e8e;
    width: fit-content;
    height: fit-content;
    padding: 0 12px;
    border-radius: 12px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    overflow: hidden;
    gap: 5px;
    border: 2px solid black;
}

.btn-add, .btn-subtract{
    user-select: none;
    font-weight: bold;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
/*---------------------*/

/*Custom search bar*/

.search-bar{
    display: flex;
    width: 50%;
    height: 54px;
    border: 1px solid black;
    border-radius: 24px;
    overflow: hidden;
    background-color: var(--primary-color);
}

.search-bar input{
    border: none;
    outline: none;
    width: 100%;
    padding: 15px 20px;
} 

.search-bar .wrapper{
    width: 90%;
    display: flex;
    position: relative;
}

.search-bar .clear{
    width: 25px;
    height: 25px;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translate(50%, -50%);
    font-size: 20px;
    border-radius: 50%;
    display: none;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.clear:hover{
    background-color: lightgray;
}

.search-bar > .btn-holder{
    width: 10%;
    height: 100%;
    margin: auto;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.search-bar > .btn-holder > button{
    width: 100%;
    height: 100%;
}

.fas.fa-search{
    color: white;
    text-align: center;
    text-shadow: 1px 1px 1px black;
}

/*-----------------*/

/*Custom expanding window*/

.expansion-wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.expansion-wrapper[data-att-folded="true"] .expansion-window{
    border-bottom: 1px solid black;
}

.expansion-window{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    font-size: 20px;
}

.expansion-window button{
    display: flex;
}

.expansion-window .fold-icon{
    margin-right: 10px;
    transition: transform 0.4s;
}

.rotate180{
    transform: rotate(180deg);
}

.expansion-container{
    height: auto;
    width: 100%;
    overflow: hidden;
    transition: height 0.6s ease-in-out;
}
  
.content {
   animation: slideUp 0.5s forwards;
}

.expansion-container.closed .content {
    animation: slideDown 0.5s forwards;
}

@keyframes slideUp {
  0% {
    transform: translateY(-100%);
    height: 0;
    opacity: 0;
  }
  30%{
    opacity: 0.1;
  }
  100% {
    transform: translateY(0);
    height: auto;
    opacity: 1;
  }
}
  
@keyframes slideDown {
    0% {
      transform: translateY(0);
      height: auto;
      opacity: 1;
    }
    70%{
        opacity: 0.1;
    }
    90%{
        opacity: 0.5;
    }
    100% {
      transform: translateY(-100%);
      height: 0;
      opacity: 0;
    }
}

/*-----------------------*/

/*###################################################*/

/*################# CUSTOM TEMPLATES ################*/

/* Custom shared list template*/

.list-viewer{
    width: 70%;
    min-width:fit-content;
    padding: 20px;
    border-collapse:collapse;
}

.list-viewer thead{
    border-bottom: 1px solid black;
}

.list-viewer .main-col{
    width: 50%;
}

.list-viewer .action-list{
    position: relative;
}



.list-viewer :is(td, th){
    padding: 0.3rem 0.2rem;
    padding-left: 0.7rem;
}

tbody > tr:hover{
    background-color: rgba(207, 169, 3, 0.757);
}

.list-viewer tr{
    background-color: var(--primary-color);
}

.list-viewer th{
    font-size: 20px;
}

.list-viewer :is(td, span, th){
    color: white;
    text-shadow: 1px 2px black;
}

.list-viewer :is(td, span){
    font-size: 18px;
    font-weight: 500;
}

.list-viewer .action-col{
    display: grid;
    padding-right: 20px;
}

.list-viewer .action-col .cus-btn-add::before{
    margin-right: 0;
}

.list-viewer .action-col .cus-btn-add{
    border-radius: 50%;
    justify-self: end;
}

.list-viewer .dropdown-close::before{
margin: 0;
}

.category-col select{
    width: 50%;
    background-color: var(--secondary-bg-color);
    color: white;
    text-shadow: 1px 2px black;
    border: none;
    outline: none;
}

/*----------------------------*/

/* Custom product card template*/

.item-card{
    width: 250px;
    height: 450px;
    border-radius: 6px;
    background-color: lightgray;
    box-shadow: 1px 2px 5px 0px gray;
    position: relative;
}

.item-card .img-container{
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #aaaaaa;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.item-card .img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 1s;
    transition: transform 0.3s ease-in-out;
}

.img-container a{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    overflow: hidden;
}

.item-card .img-container img:hover{
    transform: scale(1.2);
}

.card-content{
    height: 40%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px 15px;
    padding-bottom: 5px;
}

.item-card .title{
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

.item-card .title span{
    font-weight: 700;
    color: white;
    text-shadow: 1px 1px 1px black;
}

.item-card strong{
    color: black;
    font-size: 18px;
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    width: auto;
}

.item-card .action-list{
    width: 100%;
    display: flex;
    justify-content: center;
}

.details-secondary{
    display: block;
    width: 90%;
    text-align: center;
    font-weight: 700;
    font-size: 1.3rem;
    color: white;
    text-shadow: 1px 1px 1px black;
    background: var(--primary-color);
    background: var(--primary-color-gradient);
    padding: 5px;
    text-decoration: none;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 4px;
}

.details-secondary:hover{
    color: rgba(255,255,255,0.9);
    background-color: var(--primary-color-hover);
}

.card-content p{
    color: gray;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 90%;
}

.card-content .actual-price{
    display: inline-block;
    box-shadow: 1px 1px 5px black;
    width: auto;
	height: 38px;
	
	background-color: #979797;
	-webkit-border-radius: 3px 4px 4px 3px;
	-moz-border-radius: 3px 4px 4px 3px;
	border-radius: 2.4px 4px 4px 2.4px;
	
	border-left: 1px solid #979797;

	/* This makes room for the triangle */
	
	position: absolute;
    top: 55px;
    right: -10px;
    z-index: 1;
	color: white;
	font-weight: 300;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	line-height: 38px;

	padding: 0 5px 0 5px;
}

.card-content .actual-price::before{
    content: "";
	position: absolute;
	display: block;
	left: -19px;
	width: 0;
	height: 0;
	border-top: 19px solid transparent;
	border-bottom: 19px solid transparent;
	border-right: 19px solid #979797;
}

.card-content .actual-price::after{
    content: "";
	background-color: white;
	border-radius: 50%;
	width: 4px;
	height: 4px;
	display: block;
	position: absolute;
	left: -9px;
	top: 17px;
}

.card-content .actual-price hr{
    background-color: red;
    opacity: 0.7;
    height: 2px;
    position: absolute;
    top: 2px;
    left: 0;
    width: 95%;
    transform: rotate(-10deg);
}

.tag {
	display: inline-block;
    box-shadow: 1px 1px 5px black;
    width: auto;
	height: 38px;
	
	background-color: #979797;
	-webkit-border-radius: 3px 4px 4px 3px;
	-moz-border-radius: 3px 4px 4px 3px;
	border-radius: 2.4px 4px 4px 2.4px;
	
	border-left: 1px solid #979797;

	/* This makes room for the triangle */
	
	position: absolute;
    top: 10px;
    right: -10px;
    z-index: 1;
	color: white;
	font-weight: 300;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 22px;
	line-height: 38px;

	padding: 0 25px 0 20px;
}

.tag:before {
	content: "";
	position: absolute;
	display: block;
	left: -19px;
	width: 0;
	height: 0;
	border-top: 19px solid transparent;
	border-bottom: 19px solid transparent;
	border-right: 19px solid #979797;
}

.tag:after {
	content: "";
	background-color: white;
	border-radius: 50%;
	width: 4px;
	height: 4px;
	display: block;
	position: absolute;
	left: -9px;
	top: 17px;
}

/*-----------------------------*/

/*###################################################*/

/*################### SHARED STYLES #################*/

.centered-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.generic-img-container{
    display: flex;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    width: 100%;
    aspect-ratio: 8/6;
}

.generic-img-container img{
    object-fit:cover;
    object-position: center;
    width: 100%;
}

.create-item-form{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
}

.create-item-form > div{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.create-item-form > div > span{
    width: 100%;
}

.create-item-form > div 
:is(
    input:not(input[type="number"]),
    select,
    textarea
    )
{
    width: 50%;
}

.space-between{
    justify-content: space-between!important;
}

.preview-img-container{
    display: flex;
    flex: 1 1 auto;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-content: center;
}

.preview-img-container::before{
    position: absolute;
    content: "Empty / Invalid link";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: large;
    font-weight: bolder;
    background-color: rgba(87, 87, 87, .7);

}

.preview-img{
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: none;
}

.main-content{
    margin: var(--margin-from-header) 30px;
    background-color: var(--main-bg-color);
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    padding: 30px;
    justify-content: center;
}

.main-content > div{
    width: 100%; 
}

.main-content > .title{
    width: 100%;
    text-align: center;
    margin-bottom: 40px ;
}

.split-wrapper{
    display: flex;
    gap: 20px;
    flex-direction: row-reverse;
}

.flex-direction-col{
    flex-direction: column;
}

.height-300{
    height: 300px;
}

.width-100-percent{
    width: 100%;
}
/*###################################################*/

/*Generic styles*/

.centered-wrapper input:not(:is(.num-input, .search-bar input)), .centered-wrapper :is(textarea, select){
    padding: 10px 5px;
    border: 2px solid black;
    border-radius: 4px;
    outline: none;
    transition: none;
}

.centered-wrapper :is(input:hover:not(.search-bar input), textarea:hover){
    box-shadow: 2px 0px 6px 2px lightblue;
}

.brand-logo{
    max-width: 300px;
}

.main-bg-img{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -10;
}

.main-bg-holder{
    width: 100%;
    height: 100%;
    user-select: none;
}

.main-bg-holder:before {
    content: '';
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.1);
    z-index: -9;
}

.profile-nav{
    display: flex;
    gap: 10px;
}

.profile-nav li{
    display: flex;
}

.inner-text-danger *{
    color: red;
}

/*--------------*/

/*Register page and log in page*/

.screen-container{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}
  
.register-container{
    height: 100vh;
    height: 100dvh;
}
  
.register-container > h1 {
    color: white;
    text-align: center;
    font-size: 3.5em;
    margin-top: 10px;
    margin-bottom: 5%;
}

.register-container .register-form{
    width: 50%;
    min-height: 60%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    background-color: var(--secondary-bg-color);
    border-radius: 4px;
    border-top-left-radius: 32px;
    border-bottom-right-radius: 32px;
    padding: 2em;
    position: relative;
}

.input-wrapper{
    width: 80%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.input-wrapper div input{
    width: 100%;
    height: 10%;
    font-size: 18px;
    padding: 8px;
    transform: perspective(1.70em) rotateX(-1deg);
    border-radius: 4px;
    margin-top: 20px;
    background-color: #ccc;
    border: none;
    text-align: center;
}

.input-wrapper div{
    width: 100%;
}

.input-wrapper div input:hover{
    transform: perspective(50px) rotateX(-2.5deg);
    border: 2px solid var(--primary-color);
}

.register-btn{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%) perspective(10px) rotateX(-1deg);
    border-radius: 1px;
    color: white;
    font-weight: bold;
    padding: 1.1em;
    background-color: var(--primary-color);
}

.register-btn:hover{
    transform: translate(-50%, 50%) perspective(10px) rotateX(-1.5deg)
}

.screen-container form.login-override{
    height: 20em;
    min-height: auto;
}

.login-override div input{
    height: 30%;
}

/*-------------*/

/*Brand style*/
.one-line-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
}

.one-line-wrapper .preview-img-container{
    width: 300px;
    flex: none;
}

.flex-form{
    margin: 20px 20px 0px 20px;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
}

.flex-form > *{
    justify-content: space-between;
}

.flex-form > * > input{
    width: 60%;
    padding: 10px 5px;
    border: 2px solid black;
    border-radius: 4px;
    outline: none;
}

.flex-form > * > input:focus{
    box-shadow: 2px 0px 6px 2px lightblue;
}

.flex-form > * > label{
    width: 40%;
}

.flex-form > * > p{
    width: 100%;
}

/*-----------*/

/*Product collection page styles*/

.item-collection-container{
    display: flex;
    flex-wrap: wrap;
}

.sidebar{
    background-color: var(--main-bg-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 15%;
    height: fit-content;
    padding: 20px 0px;
    margin: var(--margin-from-header) 30px;
    margin-right: 0;
}

.sidebar > * {
    width: 100%;
}

.sidebar nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sidebar ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sidebar ul > li{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-top: 1px solid black;
    font-size: 19px;
}

.sidebar ul > li:last-child{
    border-bottom: 1px solid black;
}

.sidebar .order-by-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 14px;
}

.sidebar .order-by-wrapper select{
    background-color: var(--main-bg-color);
    border: none;
    outline: none;
    width: 80%;
    height: 30px;
    text-overflow: ellipsis;
    text-align: center;
}

.categories{
    max-height: 300px;
    overflow-x: auto;
}

.product-result-list{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
}

.product-result-list .wrapper{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.main-content .centered-wrapper{
    margin-bottom: 20px;
    width: 100%;
}

.main-content h3{
    text-align: center;
    margin-bottom: 30px;
}

.pages-bar ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.2rem;
}

.pages-bar .paging-btn{
    background-color: white;
    padding: 0 2px;
    font-size: 1.8em;
    height: 100%;
    width: 3.5rem;
    border: 1px solid black;
}

.pages-bar .paging-btn[disabled]:not(.selected){
    color: lightgray;
}

.pages-bar .paging-btn.selected{
    outline: 2px solid skyblue;
}

.pages-bar .paging-btn:hover:not([disabled]){
    background: var(--primary-btn-gradient-hover);
}

/*--------------------*/
/*View Product Page*/

#view-product .split-wrapper > div{
    width: 50%;
    font-size: 1.6rem;
}

#view-product .preview-content{
    display: flex;
    flex-wrap: wrap;
}

#view-product .preview-content > *{
    width: 100%;
}

#view-product .preview-content fieldset{
    position: relative;
    margin-top: 25px;
    border: 2px solid gray;
    border-radius: 8px;
}

#view-product .preview-content legend{
    position: absolute;
    top: -20px;
    left: -2px;
    font-size: 18px;
    margin-bottom: -10px;
    background-color: white;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 4px 4px 6px 0px;
    border: 1px solid black;
}

#view-product .preview-content fieldset p{
    width: 100%;
    resize: none;
    padding: 25px 5px;
    word-wrap: break-word;
}

#view-product .preview-content{
    align-content: flex-start;
}

#view-product .title{
    border-bottom: 2px solid rgb(85, 85, 255);
    padding: 10px 0;
}



/*-----------------*/

/*################## MEDIA QUERIES ##################*/

@media (width >= 2560px) {
    main{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .main-content{
        width: 60%;
        height: fit-content;
        flex: none;
    }

    .one-line-wrapper{
        justify-content: center;
    }
}

@media (width <= 1674px) {
    .sidebar{
        flex: 1 1 auto;
        margin: var(--margin-from-header);
    }

    .list-viewer .main-col{
        width: 35%;
    }
}

@media (width <= 1024px) {
    .flex-form{
        width: 100%;
    }

    .one-line-wrapper{
        justify-content: center;
    }

    .list-viewer .main-col{
        width: 25%;
    }

    .register-container .register-form{
      width: 60%;
    }

    .product-result-list .wrapper{
        grid-template-columns: repeat(2, 1fr);
    }

    .sidebar{
        width: 100%;
    }

    .search-bar{
        width: 80%;
    }

    .split-wrapper{
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }

    .preview-img-container{
        width: 70%;
        height: 300px;
    }

    .create-item-form{
        width: 100%;
    }

    #view-product .split-wrapper > div{
        width: 100%;
    }
}

@media (width <= 1000px) {
    
    .list-viewer .main-col{
        width: fit-content;
    }
}
  
@media (width <= 768px) {
  html {
    font-size: 16px;
  }

  .register-container .register-form{
    width: 80%;
  }

  .product-result-list .wrapper{
    grid-template-columns: repeat(1, 1fr);
}

  .search-bar{
    width: 100%;
  }

  #view-product .split-wrapper > div{
    font-size: 1.2rem;
  }

}

@media (width <= 550px) {

    .list-viewer th{
        font-size: 16px;
    }
    
    .list-viewer :is(span, td){
        font-size: 14px;
    }
}
/*###################################################*/