main{
    overflow-x: hidden;
}

.screen-container{
    width: 100vw;
    width: 100dvw;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}
  
.register-container{
    height: 100vh;
    height: 100dvh;
    background-color: rgb(21, 20, 20);
}
  
.register-container > h1 {
    color: white;
    text-align: center;
    font-size: 3.5em;
    margin-top: 10px;
    margin-bottom: 5%;
}

.register-container .register-form{
    width: 40%;
    min-height: 60%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    background-color: rgba(60, 55, 55, 0.502);
    border-radius: 4px;
    border-top-left-radius: 32px;
    border-bottom-right-radius: 32px;
    padding: 2em;
    position: relative;
}

.input-wrapper{
    width: 80%;
    height: 80%;
}

.input-wrapper div input{
    width: 100%;
    height: 10%;
    font-size: 18px;
    padding: 8px;
    transform: perspective(1.70em) rotateX(-1deg);
    border-radius: 4px;
    margin-top: 20px;
    background-color: #ccc;
    border: none;
    text-align: center;
}

.input-wrapper div input:hover{
    transform: perspective(50px) rotateX(2deg);
}

.register-btn{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%) perspective(10px) rotateX(-1deg);
    border-radius: 1px;
    color: white;
    font-weight: bold;
    padding: 1.1em;
    background-color: rgb(255, 136, 0);
}

.register-btn:hover{
    transform: translate(-50%, 50%) perspective(50px) rotateX(-1deg)
}

.screen-container form.login-override{
    height: 20em;
    min-height: auto;
}

.login-override div input{
    height: 30%;
}

