*{
    margin: 0;
    padding: 0;
    list-style: none;
    transition: all 0.3s;
}

main{
    min-height: 100vh;
    min-height: 100dvh;
    overflow-x: hidden;
}

button{
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
}

a, button{
    user-select: none;
    cursor: pointer;
}

ul, ol{
    padding: 0;
    margin: 0;
}