
html {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  min-height: 100%;
}

.home-logo {
  width: 60px;
  border-radius: 50%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body{
  position: relative;
  background-color: #cccccc;
}

a, header *, body *{
  color: black;
}

a{
  text-decoration: none;
}

a:hover{
  color: rgba(0,0,0,0.7);
}

footer, header{
  text-shadow: 1px 1px 2px black;
  background-color: rgba(255,255,255,0.8);
}

footer{
  padding: 20px 0;
}