html {
  font-size: 14px;
}

.home-logo {
  width: 80px;
  border-radius: 50%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body{
  position: relative;
  background-color: #cccccc;
  color: white;
}

a, header *, body *{
  color: white;
}